# --------  Xcode --------
Swift.gitignore
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
# ------- end --------


App Icon Template [4.1].psd
images
server.path
ipee.maxis.me/favicons
*.psd
